/* Layout */

/* Head */
admin-side-toggle .header{height: 65px; border-bottom: 1px solid #404553;  background-color: #30457E}

.header .layui-nav{position: absolute; right: 0; top: 0; padding: 0; background: none;}
.header .layui-nav .layui-nav-item{margin: 0 20px; line-height: 66px;}

.menu{position: absolute; right: 0; top: 0; line-height: 65px;}
.menu a{display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.menu a{position: relative; padding: 0 20px; margin: 0 20px; color: #c2c2c2; font-size: 14px;}
.menu a:hover{color: #fff; transition: all .5s; -webkit-transition: all .5s}
.menu a.this{color: #fff}
.menu a.this::after{content: ''; position: absolute; left: 0; bottom: -1px; width: 100%; height: 5px; background-color: #5FB878;}

.header-index{background-color: #080018; border: none;}

.layui-layout-admin .header-demo{border-bottom-color: #1AA094; background-color: #fff;}
.header-demo .logo{left: 40px;}
.header-demo .layui-nav{top: 0;}
.header-demo .layui-nav .layui-nav-item{margin: 0 30px; line-height: 65px;}
.header-demo .layui-nav .layui-nav-item a{color: #999;}
.header-demo .layui-nav .layui-this{background-color: #f2f2f2;}
.header-demo .layui-nav .layui-nav-item a:hover, 
.header-demo .layui-nav .layui-this a{color: #fff;}
.header-demo .layui-nav .layui-this:after, 
.header-demo .layui-nav-bar{background-color: #393D49;}
.header-demo .layui-nav .layui-this a{padding: 0 20px;}

/* Bottom */

.layui-anim-scaleSpring{-webkit-animation-name: layui-scale-spring; animation-name: layui-scale-spring}

/* Demonstration */
.layui-nav-item .layui-icon{position: relative; /*font-size: 20px;*/}
.layui-nav-item a cite{padding: 0 10px;}

.layui-layout-admin .site-demo-body{top: 117px;}


/* Other */
#trans-tooltip,
#tip-arrow-bottom,
#tip-arrow-top{display: none !important;}


/* Independent component */
.alone{width:730px; margin:200px auto;}
.alone ul{margin-left:1px; font-size:0;}
.alone li{display:inline-block; width:181px; font-size: 16px; text-align:center; line-height:80px; margin:0 1px 1px 0; background-color:#393D49; color:#fff;}
.alone li:hover{opacity:0.8;}
.alone li a{display:block; color:#fff;}


/* Custom CSS */
.admin-header-item-mobile{
	position: absolute; right: 0px; height: 70px;line-height: 70px; 
	padding: 0 20px; text-align: center; top:0;
	display: none;
}

.admin-nav-tree .layui-nav-child a {
	padding-left: 30px;
}

.admin{
	border: 0;
	margin: 0;
	box-shadow:none;
}

.admin-nav-card .layui-icon{
	position: relative;
}
.admin-nav-card .layui-tab-item iframe{
	width: 100%;
	border: 0;
	height: 100%;
}
.admin-nav-card>.layui-tab-title{
	border-bottom: 5px solid #242E49;
}
.admin-nav-card .layui-tab-title cite{
	font-style: normal;
	padding-left: 5px;
}
.admin-nav-card>.layui-tab-title .layui-this{
	color: white;
    border-bottom: 4px solid #267ACD;
}
.admin-nav-card>.layui-tab-title .layui-this:after{
	border-bottom: 0;
}

.admin-header-user {
	font-size: 20px;
	font-weight: bold;
}

.admin-header-user .layui-nav-more{
	top:33px;
}
.admin-header-user .layui-nav-mored{
	top: 26px;
}

/*lock*/
.admin-header-lock{
	width: 320px; height: 150px; padding: 20px; position: relative; text-align: center;
}
.admin-header-lock-img{
	width: 60px; height: 60px; margin: 0 auto;
}
.admin-header-lock-img img{
	width: 60px; height: 60px; border-radius: 100%;
}
.admin-header-lock-name{
	color: #009688;margin: 8px 0 15px 0;
}
.admin-header-lock-input{
	width: 150px; color: #FFFFFF; height: 30px; border: 0;background-color: #009688; padding: 0 7px; border-radius: 2px;
}

.header-text {
	position: absolute;
    z-index: 19940201;
    left: 225px;
    color: white;
    text-align: center;
    width: 169px;
    top: 13px;
    font-size: 24px;
    font-weight: bold;
}

.admin-main {margin: 15px;}

.admin-side-toggle,.admin-side-full{
	position: absolute; cursor: pointer;
    z-index: 19940201;
    left: 200px;
    color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #1AA094;
    line-height: 30px;
    top: 25%;
}

.admin-side-toggle:hover{
	background-color: #5FB878;
}
.admin-side-full{
	left: 240px;
}
.admin-logo{
	width: 202px; 
	height: 60px;
	position: relative; 
	background-color: #30457E;
}

.admin-logo img {
    position: absolute;
    left: 20px;
    margin: auto;
    top: 8px;
    height: 65%;
}

.admin-logo span {
	color: white;
    font-weight: bold;
    font-size: 19px;
    position: absolute;
    left: 112px;
    top: 17px;
}

.beg-navbar .layui-nav-child dd a{
	padding-left: 30px;
}


.admin-contextmenu{
	position: absolute;line-height: 36px;padding: 5px 0;
	border: 1px solid #d2d2d2;background-color: white;z-index: 19940201;border-radius: 2px;white-space: nowrap;top:30px;
	/*width: 100px;height: 200px; */
}
.admin-contextmenu ul li{
	padding: 0 15px;
}
.admin-contextmenu ul li:hover{
	background-color: #eee;
	cursor: pointer;
}


/* Adaptive multi device */
@media screen and (max-width: 750px) {
  .layui-main{width: auto; margin: 0 10px;}
  .logo,
  .header-demo .logo{left: 10px;}

  .site-nav-layim{display: none !important;}
  .header .layui-nav .layui-nav-item{margin: 0;}
  .header .layui-nav .layui-nav-item a{padding: 0 15px;}
  .site-banner{height: 300px;}
  .site-banner-bg{background-size: cover;}
  .site-zfj{height: 100px; padding-top: 5px;}
  .site-zfj i{top: 10px; width: 100px; height: 100px; margin-left: -50px; font-size: 100px;}
  .site-desc{background-size: 70%; margin: 0;}
  .site-desc cite{display: none;}
  .site-download{margin-top: 0; }
  .site-download a{height: 40px; line-height: 40px; padding: 0 25px 0 60px; border: 1px solid #778097; border-radius: 30px; color: #fff; font-size: 16px;}
  .site-download a cite{left: 20px;}
  .site-banner-other{bottom: 15px;}

  .site-idea{margin: 20px 0;}
  .site-idea li{margin: 0 0 20px 0; width: 100%; height: auto; -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important;}
  .site-hengfu img{max-width: 100%}

  .layui-layer-dir{display: none;}
  .site-tree{position: fixed; top: 0; bottom: 0; min-height: 0; overflow: auto; z-index: 1000; left: -260px; background-color: #fff;  transition: all .3s; -webkit-transition: all .3s;}
  .site-content{width: 100%; padding: 0; overflow: auto;}
  .site-content img{max-width: 100%;}
  .site-tree-mobile{display: block!important; position: fixed; z-index: 100000; bottom: 15px; left: 15px; width: 50px; height: 50px; line-height: 50px; border-radius: 2px; text-align: center; background-color: rgba(0,0,0,.7); color: #fff;}
  .site-home .site-tree-mobile{display: none!important;}
  .site-mobile .site-tree-mobile{display: none !important;}
  .site-mobile .site-tree{left: 0;}
  .site-mobile .site-mobile-shade{content: ''; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,.8); z-index: 9999;}
  .site-tree-mobile i{font-size: 20px;}
  .layui-code-view{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

  .layui-layout-admin .layui-side{position: fixed; top: 0; left: -260px; transition: all .3s; -webkit-transition: all .3s; z-index: 10000;}
  .layui-body{position: static; bottom: 0; left: 0;}
  .site-mobile .layui-side{left: 0;}
  body .layui-layout-admin .footer-demo{position: static;}


  .site-demo-area,
  .site-demo-editor,
  .site-demo-result,
  .site-demo-editor textarea,
  .site-demo-result iframe{position: static; width: 100%;}
  .site-demo-editor textarea{height: 350px;}
  .site-demo-zanzhu{display: none;}
  .site-demo-btn{bottom: auto; top: 370px;}
  .site-demo-result iframe{height: 500px;}

  .site-demo-laytpl textarea, .site-demo-laytpl div span{margin: 0;}
  .site-demo-tplres .site-demo-tplh2, .site-demo-tplres .site-demo-tplview{width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

  .site-demo-title{position: static; left: 0;}
  body .layui-layout-admin .site-demo{}
  .site-demo-code{position: static; height: 350px;}
  
  .admin-side-toggle ,.admin-header-item{display: none;}
  .admin-header-item-mobile{ display: block; }
}

.layui-body{
  	left:200px;
}
.layui-layout-admin .layui-side{
	width:200px;
}
  